# Auto detect text files and perform LF normalization
* text=auto
FPS_Microgame/Assets/AddOns/Sci-Fi[[:space:]]Texture[[:space:]]Pack[[:space:]]1/Textures/Texture_2_Diffuse.psd filter=lfs diff=lfs merge=lfs -text
